doctype html
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet", href="css/style.min.css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap' rel='stylesheet')

    title ЕК
body
    a.whatsapp(href="#")
        .whatsapp__inner
            p.whatsapp__text Написать в WhatsApp
            svg(width='49' height='52' viewbox='0 0 49 52' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M41.8608 7.55688C37.2546 2.68633 31.1287 0.00285644 24.6025 0C11.1546 0 0.210057 11.5588 0.204647 25.7655C0.202844 30.3069 1.32615 34.7401 3.46128 38.6477L0 52L12.9337 48.4167C16.4974 50.4699 20.5095 51.5519 24.5926 51.5531H24.6028C38.0491 51.5531 48.9949 39.9934 49 25.7861C49.0027 18.9008 46.4673 12.4271 41.8608 7.55688ZM24.6025 47.2015H24.5941C20.9555 47.1999 17.3869 46.1671 14.273 44.2162L13.5329 43.7519L5.85785 45.8783L7.90642 37.9752L7.42411 37.1649C5.39416 33.7549 4.32224 29.8137 4.32404 25.767C4.32825 13.9588 13.4253 4.35195 24.6106 4.35195C30.027 4.35386 35.1185 6.58442 38.947 10.6326C42.7755 14.6809 44.8827 20.0618 44.8809 25.7845C44.8761 37.5937 35.7797 47.2015 24.6025 47.2015ZM35.7256 31.1613C35.1161 30.8388 32.1188 29.2817 31.5599 29.0666C31.0015 28.8517 30.5947 28.7447 30.1887 29.389C29.7821 30.0333 28.614 31.4837 28.2582 31.9132C27.9024 32.3429 27.5472 32.3969 26.9374 32.0744C26.3277 31.7522 24.3636 31.0721 22.0349 28.8787C20.2228 27.1715 18.9995 25.0631 18.6437 24.4188C18.2885 23.7739 18.6407 23.459 18.9111 23.1048C19.571 22.2393 20.2319 21.3319 20.435 20.9025C20.6384 20.4728 20.5366 20.0967 20.3839 19.7745C20.2319 19.4524 19.0127 16.2833 18.5048 14.9938C18.0096 13.7389 17.5074 13.9083 17.133 13.8887C16.7778 13.8699 16.3712 13.8661 15.9646 13.8661C15.5583 13.8661 14.8978 14.0271 14.3388 14.672C13.7802 15.3166 12.2055 16.874 12.2055 20.043C12.2055 23.2121 14.3899 26.2736 14.6947 26.7033C14.9994 27.1331 18.9935 33.6362 25.1085 36.4248C26.563 37.0887 27.6983 37.4845 28.5839 37.7812C30.0444 38.2713 31.373 38.2021 32.4236 38.0364C33.5949 37.8514 36.03 36.4787 36.5384 34.9749C37.0463 33.4709 37.0463 32.182 36.8936 31.9132C36.7416 31.6447 36.335 31.4837 35.7256 31.1613Z' fill='white')
    main.main
        block content
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="js/main.min.js") 