extends  ./template/layout
block content
    section.articles
        .articles__inner 
            p.articles__title Почитать
            .articles__content
                .articles__left.article
                    img.articles__background(src="img/articles/1.png", alt="")
                    p.articles__tag Новое
                    .articles__effect 
                    .articles__item-content
                        p.articles__content-title Загаловок интересной статьи которую стоит прочитать 
                        p.articles__content-description Вся наша семья очень хочет поблагодарить Евгения за эту волшебную свадьбу! Мы были самыми счастливыми молодоженами! Он покорил нас и наших гостей своим профессионализмом, юмором и тактичность, и да, высочайшей красноречивостью! Мы благодарны судьбе за знакомство с ним! Всё было очень легко (хотя за этим скрывается большая работа). Нет никакого напряжения. А если что-то даже, ввиду обстоятельств, шло не по плану, он всегда знал, что сделать или сказать. Это 
                - for (let i = 2; i <= 3; i++)
                    -let path = "img/articles/"+i+".png"
                    - let className = i == 2 ? 'first' : 'second' 
                    .aticles__right-item.article(class=className)
                        img.articles__background(src=path, alt="")
                        .articles__effect 
                        .articles__item-content
                            p.articles__content-title Загаловок интересной статьи которую стоит прочитать 
                            p.articles__content-description Вся наша семья очень хочет поблагодарить Евгения за эту волшебную свадьбу! Мы были самыми счастливыми молодоженами! Он покорил нас и наших гостей своим профессионализмом, юмором и тактичность, и да, высочайшей красноречивостью! Мы благодарны судьбе за знакомство с ним! Всё было очень легко (хотя за этим скрывается большая работа). Нет никакого напряжения. А если что-то даже, ввиду обстоятельств, шло не по плану, он всегда знал, что сделать или сказать. Это 